.BurgerMenuContainer {
    padding: 25px;
}

.BurgerMenuContainer > h3 {
    font-size: 20px;
}

.BurgerItemDiv {
    background-color: #f1ffec;
    padding: 20px;
    border-radius: 5px;
}

.BurgerItem {
    background-color: white;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.BurgerItem > h3 {
    display: inline-block;
}

.BurgerPrice {
    float: right;
    margin-right: 20px;
}

